/* Use your own code or past solution for Great Idea Web Page CSS here! */

@media screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
  @media only screen and (max-width: 500px) {
  body {
    background-color: lightgreen;
  }
}
}
.bodycontainer {
	max-width: 1200px;
	margin: 0 auto;
}
.container header nav a{
    margin-left: 70px;
    padding: 15px;
    padding-top: 50px;
    display: inline-block;
    text-decoration: none;
    color: gray;
    }
    nav {
      display: inline;
    }
    .logo {
    display: inline;
    margin-left: 50px;
    }
    h1 {
    display: inline-block;
    width: 150px;
    height: 200px;
    text-align: center;
    margin-left: 200px;
    font-size: 70px;
    margin-bottom: 60px;
    }
    .topImg {
      display: inline-block;
      margin-left: 410px;
        }
    .button {
      display: inline-block;
      border: 2px solid black;
      margin-left: 290px;
      text-align: center;
      font-size: 30px;
    }
     .sec{
     	display: inline-flex;
     	
     	
     	width: 420px;
      	height: 100px;
     	padding-bottom: 80px;
      	margin: 0 auto;
      	border: 1px solid red;

      }
     .middle-img{
     	display: flex;
     	margin: 0 auto;
       	margin-bottom: 50px;
       	
      }
     .last {
      display: inline-flex;
      justify-content: space-around;
      max-width: 900px;      
	  margin:0 auto;
      
      width: 250px;
     
      border:1px solid red;

      }
     .contact{
      display: block;
      width: 160px;
      height: 100px;
      line-height: 2;
      margin-bottom: 150px;
      margin-left: 140px;
      }

