/* Use your own code or past solution for Great Idea Web Page CSS here! */

@media screen and (max-width: 800px) {
.container {

  }
@media only screen and (max-width: 500px) {
  body {
    background-color: lightgreen;
  }
}
}
.bodycontainer {
	max-width: 1200px;
	margin: 0 auto;
}
nav a{
	display: inline-flex;
	padding: 30px;
	text-decoration: none;
    color: gray
}
/*.container .logo {
    margin-left: 70px;
    padding: 15px;
    padding-top: 50px;
    }*/
header {
      padding: 15px;
     
     }
   .logo{
   	display: flex;
   	justify-content: center;
   	
   }
    .top .title {
    width: 150px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    
    }
    .top{
    	display: flex;
    	justify-content: center;
    	justify-content: space-around;
    	max-width: 900px;
    	margin:0 auto;
    	padding-bottom: 200px;
    }
   
    .sec .sec1{
     	width: 400px;
      	height: 100px;
     	padding-bottom: 80px;
      	
      }
     .sec {
      	display: flex;
      	justify-content: center;
     	justify-content: space-around;
     	max-width: 900px;
     	margin:0 auto;
      }
     .middle-img{
     	display: flex;
     	margin: 0 auto;
       	margin-bottom: 50px;
     }
     .last .sec2{
      padding-bottom: 50px;     
      width: 250px;
      height: 150px;
      }
     .last{
     	display: flex;
     	justify-content: center;
     	justify-content: space-around;
     	max-width: 900px;
     	margin:0 auto;
     }
     .contact{
      display: block;
      width: 160px;
      height: 100px;
      line-height: 2;
      margin-bottom: 150px;
      margin-left: 170px;
      }

